h2 {
    text-align: center;
}

.wrapper {

}

.left-container {
    display: inline;
    vertical-align: top;
    float: left;
    margin-top: 25px;
}

.right-container {
    display: inline;
    float: right;
    // top left right bottomm
    margin-right: 150px;
    margin-top: 50px;
}



